<a href="https://colab.research.google.com/github/tusharmore26/Calculator/blob/main/Prac1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

data={
    'Name':["Tushar","Vinit","Prajwal","Om","Yash"],
    'Surname':["More","Bhosale","Dinde","Patil","Makode"],
    'Marks':[25,26,27,28,29],
    'Age':[21,20,22,23,21]
}

df=pd.DataFrame(data, columns=['Name','Surname','Marks','Age'])

print(df)

      Name  Surname  Marks  Age
0   Tushar     More     25   21
1    Vinit  Bhosale     26   20
2  Prajwal    Dinde     27   22
3       Om    Patil     28   23
4     Yash   Makode     29   21

In [4]:
df2=pd.DataFrame(data)
print(df2)

      Name  Surname  Marks  Age
0   Tushar     More     25   21
1    Vinit  Bhosale     26   20
2  Prajwal    Dinde     27   22
3       Om    Patil     28   23
4     Yash   Makode     29   21

In [7]:
col=['Name']
print(df[col])

      Name
0   Tushar
1    Vinit
2  Prajwal
3       Om
4     Yash
      Name
0   Tushar
1    Vinit
2  Prajwal

In [8]:
print(df[col].head(3))

      Name
0   Tushar
1    Vinit
2  Prajwal

In [9]:
print(df[col].tail(2))

   Name
3    Om
4  Yash

In [11]:
print(df['Age'].mean())
print(df['Marks'].median())

21.4
27.0